* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

html, body {
    width: 100%;
    height: 100%;
}

#header {
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

#main-title {
    text-align: center;
    color: white;
    padding: 10px;
    justify-self: center;
}

#play {
    height: 30px;
    width: 60px;
    background-color: black;
    color: white;
    margin-left: 30px;
    padding: 0 15px;
    justify-self: flex-end;
    border-style: none;
    border-radius: 25%;

}

#bike-character {
    align-self: flex-end;
    width: 118px;
    height: 98px;
    background-image: url("../Images/Velo12.png");
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.pedestrian {
    align-self: flex-start;
    margin: 0 15px;
    width: 42px;
    height: 97px;
    background-image: url("../Images/Pieton6.png");
    background-repeat: no-repeat;
}

.car {
    align-self: flex-start;
    justify-self: flex-start;
    margin: 0 15px;
    width: 81px;
    height: 32px;
    align-self: flex-start;
    background-image: url("../Images/Car7.png");
    background-repeat: no-repeat;
}

.scooter {
    align-self: flex-start;
    margin: 0 15px;
    width: 65px;
    height: 94px;
    align-self: flex-start;
    justify-self: start;
    background-image: url("../Images/Scoot6.png");
    background-repeat: no-repeat;
}

#main-content {
    display: flex;
    /* flex-direction: row; */
    /* align-items: flex-end; */
    height: 85%;
    width: 90%;
    margin: 20px auto;
    border: 2px solid black;
    background-image: url("../Images/game-background2.jpg");
    overflow: hidden;
}

.move {
    transform: translateY(120vh);
}

.hidden {
    visibility: hidden;
}

.horizontal {
    display: flex;
    flex-direction: row;
}